# Importing Libraries

In [66]:
#importing Pandas library
import pandas as pd

# Performance Rating Cleaning and Processing

In [65]:
# Creating dataframe for Performance Rating using Pandas
performance_df=pd.read_csv("PerformanceRating.csv")
performance_df.head()

  PerformanceID EmployeeID  ReviewDate  ...  WorkLifeBalance  SelfRating  ManagerRating
0          PR01  79F7-78EC  2013-01-02  ...                4           4              4
1          PR02  B61E-0F26  2013-01-03  ...                4           4              3
2          PR03  F5E3-48BB  2013-01-03  ...                3           5              4
3          PR04  0678-748A  2013-01-04  ...                2           3              2
4          PR05  541F-3E19  2013-01-04  ...                4           4              3

[5 rows x 11 columns]

In [18]:
# Checking for datatypes in Performance Rating Table
performance_df.dtypes

PerformanceID                              object
EmployeeID                                 object
ReviewDate                         datetime64[ns]
EnvironmentSatisfaction                     int64
JobSatisfaction                             int64
RelationshipSatisfaction                    int64
TrainingOpportunitiesWithinYear             int64
TrainingOpportunitiesTaken                  int64
WorkLifeBalance                             int64
SelfRating                                  int64
ManagerRating                               int64
dtype: object

In [22]:
# Changing the datatype of Review Date column in Performance Rating from Object to Datetime
performance_df['ReviewDate']=pd.to_datetime(performance_df['ReviewDate'])
performance_df.dtypes

PerformanceID                              object
EmployeeID                                 object
ReviewDate                         datetime64[ns]
EnvironmentSatisfaction                     int64
JobSatisfaction                             int64
RelationshipSatisfaction                    int64
TrainingOpportunitiesWithinYear             int64
TrainingOpportunitiesTaken                  int64
WorkLifeBalance                             int64
SelfRating                                  int64
ManagerRating                               int64
dtype: object

In [24]:
# Checking for null / error values
performance_df.isna().sum()

PerformanceID                      0
EmployeeID                         0
ReviewDate                         0
EnvironmentSatisfaction            0
JobSatisfaction                    0
RelationshipSatisfaction           0
TrainingOpportunitiesWithinYear    0
TrainingOpportunitiesTaken         0
WorkLifeBalance                    0
SelfRating                         0
ManagerRating                      0
dtype: int64

In [25]:
# Checking for duplicates
performance_df.duplicated().sum()

0

In [43]:
# Saving the cleaned file to as CSV doc
performance_df.to_csv('PerformanceRating.csv',index=False)

# Employee cleaning and Processing

In [31]:
# Creating dataframe for Employee
employee_df=pd.read_csv("Employee.csv")
employee_df.head()

  EmployeeID   FirstName  ... YearsSinceLastPromotion YearsWithCurrManager
0  3012-1A41    Leonelle  ...                       9                    7
1  CBCB-9C9D     Leonerd  ...                      10                    0
2  95D7-1CE9       Ahmed  ...                      10                    8
3  47A0-559B  Ermentrude  ...                      10                    0
4  42CC-040A       Stace  ...                       1                    6

[5 rows x 23 columns]

In [34]:
# Checking for datatypes
employee_df.dtypes

EmployeeID                 object
FirstName                  object
LastName                   object
Gender                     object
Age                         int64
BusinessTravel             object
Department                 object
DistanceFromHome (KM)       int64
State                      object
Ethnicity                  object
Education                   int64
EducationField             object
JobRole                    object
MaritalStatus              object
Salary                      int64
StockOptionLevel            int64
OverTime                   object
HireDate                   object
Attrition                  object
YearsAtCompany              int64
YearsInMostRecentRole       int64
YearsSinceLastPromotion     int64
YearsWithCurrManager        int64
dtype: object

In [38]:
# Converting datatype of HireDate from Object to DateTime
employee_df['HireDate']=pd.to_datetime(employee_df['HireDate'])
employee_df.dtypes

EmployeeID                         object
FirstName                          object
LastName                           object
Gender                             object
Age                                 int64
BusinessTravel                     object
Department                         object
DistanceFromHome (KM)               int64
State                              object
Ethnicity                          object
Education                           int64
EducationField                     object
JobRole                            object
MaritalStatus                      object
Salary                              int64
StockOptionLevel                    int64
OverTime                           object
HireDate                   datetime64[ns]
Attrition                          object
YearsAtCompany                      int64
YearsInMostRecentRole               int64
YearsSinceLastPromotion             int64
YearsWithCurrManager                int64
dtype: object

In [40]:
# Checking for error/null values
employee_df.isna().sum()

EmployeeID                 0
FirstName                  0
LastName                   0
Gender                     0
Age                        0
BusinessTravel             0
Department                 0
DistanceFromHome (KM)      0
State                      0
Ethnicity                  0
Education                  0
EducationField             0
JobRole                    0
MaritalStatus              0
Salary                     0
StockOptionLevel           0
OverTime                   0
HireDate                   0
Attrition                  0
YearsAtCompany             0
YearsInMostRecentRole      0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [42]:
#Checking for duplicate Values
employee_df.duplicated().sum()

0

In [44]:
# Saving cleaned file as CSV doc
employee_df.to_csv('Employee.csv',index=False)

# Education Level cleaning and preprocessing

In [46]:
# Creating dataframe for Education Level
education_df=pd.read_csv('EducationLevel.csv')
education_df.head()

   EducationLevelID            EducationLevel
0                 1  No Formal Qualifications
1                 2              High School
2                 3                Bachelors
3                 4                  Masters
4                 5                 Doctorate

In [49]:
# Checking for Datatypes
education_df.dtypes

EducationLevelID     int64
EducationLevel      object
dtype: object

In [50]:
#Checking for null/error values
education_df.isna().sum()

EducationLevelID    0
EducationLevel      0
dtype: int64

In [51]:
#Checking for duplicates
education_df.duplicated().sum()

0

In [52]:
# Saving the file to as a CSV
education_df.to_csv('EducationLevel.csv',index=False)

# Rating Level cleaning and Processing

In [53]:
# Creating dataframe for Rating
rating_df=pd.read_csv('RatingLevel.csv')
rating_df.head()

   RatingID           RatingLevel
0         1          Unacceptable
1         2     Needs Improvement
2         3     Meets Expectation
3         4  Exceeds Expectation
4         5      Above and Beyond

In [54]:
# Checking datatypes
rating_df.dtypes

RatingID        int64
RatingLevel    object
dtype: object

In [55]:
#checking for null/errors
rating_df.isna().sum()

RatingID       0
RatingLevel    0
dtype: int64

In [56]:
#checking for duplicates
rating_df.duplicated().sum()

0

In [57]:
# Saving file as a CSV
rating_df.to_csv('RatingLevel.csv',index=False)

 # Satisfaction Level Cleaning and Processing

In [58]:
#Creating Dataframe for Satisfaction
satisfaction_df=pd.read_csv('SatisfiedLevel.csv')
satisfaction_df.head()

   SatisfactionID  SatisfactionLevel
0               1  Very Dissatisfied
1               2       Dissatisfied
2               3            Neutral
3               4         Satisfied
4               5     Very Satisfied

In [60]:
# Checking datatypes
satisfaction_df.dtypes

SatisfactionID        int64
SatisfactionLevel    object
dtype: object

In [61]:
# checking for null/errors
satisfaction_df.isna().sum()

SatisfactionID       0
SatisfactionLevel    0
dtype: int64

In [62]:
#checking for duplicates
satisfaction_df.duplicated().sum()

0

In [63]:
# Saving file as a CSV
satisfaction_df.to_csv('SatisfiedLevel.csv',index=False)